/* RESET */
body {
    margin: 0;
    font-family: Arial;
}

/* LOGIN & REGISTER ONLY */
.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* INPUTS */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* INVALID INPUT */
input:invalid {
    border: 2px solid red;
}

/* BUTTON */
button {
    background: #667eea;
    color: white;
    border: none;
    padding: 10px;
    width: 95%;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}