body {
    font-family: Arial;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}
.container {
    width: 320px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    color: white;
    border: none;
}
a {
    display: block;
    margin-top: 10px;
}
